.fauxbtn {
  color: $body-font-color;
  font-weight: $global-weight-bold;
  font-family: $header-font-family;
  display: inline-block;
  background-image: linear-gradient(360deg, $c-primary 0, $c-primary 100%);
  background-size: 100% 0.666em;
  background-repeat: no-repeat;
  background-position: left bottom;
  text-decoration: none;
  line-height: 1.6;
  transition: all 0.1s ease-in;
  padding: 0 0.666em 0 0;

  &:hover,
  &:focus {
    background-size: 100% 1.5em;
    padding: 0 0.333em;
  }
}

.btn {
  display: inline-block;
  line-height: 1.125;
  padding: 0.5em 0.75em 0.5em;
  border: 3px solid $c-primary;
  color: inherit;
  //background-color: $c-primary;
  //color: #fff;
  text-decoration: none;
  text-align: center;
  //font-family: $header-font-family;
  font-weight: $global-weight-bold;

  &:hover,
  &:focus {
    background-color: $c-primary;
    border-color: #fff;
    color: #fff;
  }

  small {
    font-family: $header-font-family;
    display: block;
    font-size: 87.5%;
  }
}
