.fauxbtn {
  color: $body-font-color;
  font-weight: $global-weight-bold;
  font-family: $header-font-family;
  display: inline-block;
  background-image: linear-gradient(360deg, $c-primary 0, $c-primary 100%);
  background-size: 100% 0.666em;
  background-repeat: no-repeat;
  background-position: left bottom;
  text-decoration: none;
  line-height: 1.6;
  transition: all 0.1s ease-in;

  &:hover,
  &:focus {
    background-size: 100% 0.875em;
  }
}
