.menu--main {
    list-style: none;
    display: flex;

    > li {
        margin: 0 1rem;

        a {
            @extend .fauxbtn;

            font-weight: $global-weight-normal;
            text-transform: uppercase;

            /* stylelint-disable */
            background-image: linear-gradient(
                360deg,
                transparent 0,
                transparent 100%
            );
            /* stylelint-enable */

            &:hover,
            &:focus {
                /* stylelint-disable */
                background-image: linear-gradient(
                    360deg,
                    $c-primary 0,
                    $c-primary 100%
                );
                /* stylelint-enable */
            }
        }
    }

    > li.is-active {
        a {
            /* stylelint-disable */
            background-image: linear-gradient(
                360deg,
                $c-primary 0,
                $c-primary 100%
            );
            /* stylelint-enable */
        }
    }
}
