.picandtext {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24.25rem, 1fr));
    grid-column-gap: 7%;
    align-items: center;
    justify-items: center;
    //background-image: url(../images/white-marble.jpg);
    background-position: center;
    background-size: cover;
}

.picandtext__foto {
    //max-width: 35rem;
    text-align: center;
    margin: 2rem 0 2rem;
    //background-color: $c-primary;

    img {
        //border-radius: 50%;
        //border: 0.5rem solid hsl(0, 0%, 75);
        //mix-blend-mode: multiply;
        //filter: grayscale(0.25);
        //border: 0.5rem solid $c-primary;
    }

    figcaption {
        margin-top: 1.25rem;
        font-weight: $global-weight-bold;
        font-family: $header-font-family;
        font-size: 1.25rem;
        line-height: 1.4;
        //background-color: #fff;

        em {
            display: block;
            font-style: italic;
            font-size: 66.666%;
            font-weight: $global-weight-normal;
        }
    }
}
