.pricetable {
    //border: 0.5rem solid scale-color($c-primary, $lightness: 15%);
    padding: 10% 7.5% 5%;
    color: scale-color($body-font-color, $lightness: 15%);
    font-size: 1.125rem;
    //background-color: $body-background;
    //box-shadow: 0 0 1px 0 rgba(#000,.125);
    @include breakpoint(large) {
        //font-size:1.125rem;
    }
}

.pricetable__head {
    margin-bottom: 12.5%;
    text-align: center;

    p {
        margin: 0;
        font-weight: $global-weight-bold;
        text-transform: uppercase;
        font-size: 1em;
        color: $c-primary;
    }

    h2 {
        //font-weight: $global-weight-bold;
        font-size: 2.5em;
    }
}

.pricetable__foot {
    border-top: 1px solid scale-color($body-font-color, $lightness: 15%);
    color: $body-font-color;
    //text-align: center;
    padding-top: 5%;
    font-size: 0.75rem;
    font-style: italic;
    //font-family: $header-font-family;
    .button {
        font-style: normal;
    }
}

dl.pricelist {
    //@include clearfix();
    line-height: 1.4;
    overflow: hidden;

    dt {
        //@include clearfix();
        position: relative;
        z-index: 1;
        clear: left;
        float: left;
        display: inline-block;
        //background-color: $body-background;
        max-width: calc(100% - 6em);
        //background-color: red;
        margin: 0 0 1em;
        //padding-right:.5em;
        font-family: $header-font-family;
        font-weight: $global-weight-bold;

        // text-shadow: -3px 1px $body-background, -3px 2px $body-background, -3px 3px $body-background,
        //     3px 1px $body-background, 3px 2px $body-background, 3px 3px $body-background, -2px 1px $body-background,
        //     -2px 2px $body-background, -2px 3px $body-background, -1px 1px $body-background, -1px 2px $body-background,
        //     -1px 3px $body-background;
        //, 0px 0px red, 1px 1px red, 2px 2px red, 3px 3px red;
        //text-transform: uppercase;
        small {
            display: block;
            text-shadow: none;
            //width: min-content;
            min-width: 100%;
            //font-family: $body-font-family;
            //max-width: 90%;
            font-weight: $global-weight-normal;
            font-style: italic;
            font-size: 0.75em;
            text-transform: none;
            margin-top: 0.125em;
            color: $body-font-color;
        }

        a {
            color: inherit;

            &:hover,
            &:focus {
                color: $c-secondary;
                //text-decoration:underline;
            }
        }
    }

    dt.selector {
        @include clearfix();
        //font-size:1.125em;
        //font-weight: $global-weight-normal;
        //font-family: $body-font-family;
        border-bottom: 1px solid currentColor;
        padding-bottom: 0.5em;
        margin: 2em 0 1em;
        //color: $body-font-color;
        //color:$secondary-color;
        float: none;
        clear: both;
        //display:block;
        max-width: none;
        width: 100%;
        text-transform: uppercase;
        //text-align: center;
    }

    dd {
        position: relative;
        font-family: $header-font-family;
        font-weight: $global-weight-bold;
        float: right;
        max-width: 6em;
        white-space: nowrap;
        margin: 0 0 1em;
        text-align: right;

        span {
            position: absolute;
            right: 0;
            display: block;
            margin: 0.333em auto 0 auto;
            line-height: 1;
            padding: 0.5em 0.75em 0.4em;
            width: min-content;
            font-family: $body-font-family;
            //border:1px solid $xlight-gray;
            background-color: $c-primary;
            color: #fff;
            box-shadow: 0 0 0.25rem 0 rgba(#000, 0.125);
            border-radius: 1em;
            text-transform: uppercase;
            font-weight: $global-weight-bold;
            font-size: 0.5em;
        }

        &::before {
            content: "";
            z-index: 0;
            position: absolute;
            right: calc(100% + 0.25em);
            top: 1.1025em;
            width: rem-calc(1024);
            height: 0;
            border-bottom: 1px dashed rgba(#000, 0.125);
            opacity: 0;
        }
    }
}
