.siteheader {
  display: flex;
  align-items: center;
}

.siteheader__logo {
  //display: flex;
  align-items: center;
  margin-right: 16px;
  min-width: 12rem;

  img {
    width: 12rem;
  }
}

.siteheader__nav {
  margin-left: auto;
}

.siteheader__section {
  //margin-left: auto;

  .btn {
    white-space: nowrap;
  }
}
