.siteheader {
    display: flex;
    align-items: center;
    background-color: $c-lightrose;
    //position: absolute;
    //color: $white;
    //background-color: hsl(0, 0, 16%);

    // @include breakpoint(desktop) {
    // }
}

.siteheader--dark {
    background-color: $c-darkgray;
    color: $c-lightrose;
}

.siteheader__logo {
    //display: flex;
    align-items: center;
    margin-right: 16px;
    min-width: 12rem;

    img {
        width: 12rem;
        margin-top: 5%;

        @include breakpoint(tablet) {
            width: 14rem;
        }

        @include breakpoint(desktop) {
            width: 16rem;
        }

        @include breakpoint(largedesktop) {
            width: 17rem;
        }
    }
}

.siteheader__nav {
    margin-left: auto;
}

.siteheader__section {
    //margin-left: auto;

    .btn {
        white-space: nowrap;
    }
}
