// Layout related styles

.swrap {
    overflow: hidden;
    padding: calc(3rem + 1.5vw) 1rem;
    margin: 0 auto;
    width: 100%;
    //max-width: $global-width;

    @include breakpoint(phablet) {
        padding-left: 7%;
        padding-right: 7%;
    }

    @include breakpoint(desktop) {
        padding-left: calc(50vw - #{$global-width/2});
        padding-right: calc(50vw - #{$global-width/2});
    }

    &--full {
        @include breakpoint(desktop) {
            padding-left: 3.333%;
            padding-right: 3.333%;
        }
    }
}

.swrap--narrow {
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include breakpoint(desktop) {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
}

.swrap--light {
    background-color: rgba($c-primary, 0.5);
}

.servicelist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    //grid-gap: 2rem;
}
