$c-primary: #fd9270;
$body-font-family: "Raleway", sans-serif;
$header-font-family: "Fahkwang", sans-serif;
$body-font-color: #3b3b3b;
$body-background: #ededed;
$global-weight-bold: 700;
$global-weight-normal: 400;
$global-width: 80rem;
$global-font-size: 16px;
$global-paragraph-margin: 24px;
