$c-primary: #f86491; //#ff69b4;
$c-secondary: #172335; //#0e2241;
$c-ametist: #675682;
$white: #ededed;
$body-font-family: "Raleway", sans-serif;
$header-font-family: "Fahkwang", sans-serif;
$body-font-color: #001b36;
$body-background: #ededed;
$global-weight-bold: 700;
$global-weight-medium: 500;
$global-weight-normal: 400;
$global-width: 84rem;
$global-font-size: 16px;
$global-paragraph-margin: 24px;
